In [1]:
import pandas as pd
import os

current_dir = os.getcwd()
relative_path = '../models/top10/'

# Define the directory where your CSV files are located
directory = os.path.join(current_dir, relative_path)

# Initialize a list to store the DataFrames
dfs = []

# Loop through all the CSV files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        # Construct the full file path
        file_path = os.path.join(directory, filename)
        
        # Load the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        # Add a new column indicating the source CSV file
        df['source'] = os.path.splitext(filename)[0]
        
        # Append the DataFrame to the list
        dfs.append(df)

# Concatenate all DataFrames in the list into a single DataFrame
merged_df = pd.concat(dfs, ignore_index=True)

merged_df

     epoch  accuracy      loss  val_accuracy  val_loss source
0        0  0.903055  0.344352      0.990338  0.039056      1
1        1  0.994066  0.020990      0.985507  0.042706      1
2        2  0.996005  0.017637      0.992271  0.021728      1
3        3  0.996592  0.014166      0.996135  0.019482      1
4        4  0.995476  0.015364      0.996135  0.014317      1
..     ...       ...       ...           ...       ...    ...
754     12  0.987955  0.047472      0.922705  0.355714      9
755     13  0.980317  0.066288      0.975845  0.087388      9
756     14  0.981786  0.089636      0.937198  0.345161      9
757     15  0.984136  0.058959      0.859903  1.077084      9
758     16  0.982080  0.059340      0.966184  0.172907      9

[759 rows x 6 columns]

In [2]:
merged_df.nunique()

epoch            50
accuracy        483
loss            759
val_accuracy    173
val_loss        759
source           30
dtype: int64

In [3]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759 entries, 0 to 758
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   epoch         759 non-null    int64
 1   accuracy      759 non-null    float64
 2   loss          759 non-null    float64
 3   val_accuracy  759 non-null    float64
 4   val_loss      759 non-null    float64
 5   source        759 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 35.7+ KB

In [4]:
merged_df['source'] = merged_df['source'].astype('int64')

In [5]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759 entries, 0 to 758
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   epoch         759 non-null    int64
 1   accuracy      759 non-null    float64
 2   loss          759 non-null    float64
 3   val_accuracy  759 non-null    float64
 4   val_loss      759 non-null    float64
 5   source        759 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 35.7 KB

In [6]:
path = './csv_results/top_10_configs.csv'
df_configs = pd.read_csv(path)

In [7]:
df_configs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             30 non-null     int64
 1   Model          30 non-null     object
 2   Augmentasi     30 non-null     object
 3   Freeze         9 non-null      object
 4   Learning Rate  30 non-null     float64
 5   Layer          30 non-null     int64
 6   Optimizer      30 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 1.8+ KB

In [8]:
final_merge = pd.merge(merged_df, df_configs, left_on='source', right_on='Id')

In [9]:
final_merge

,epoch,accuracy,loss,val_accuracy,val_loss,source,Id,Model,Augmentasi,Freeze,Learning Rate,Layer,Optimizer
0,0,0.903055,0.344352,0.990338,0.039056,1,1,Inception,Yes,NaN,0.0001,1,Adam
1,1,0.994066,0.020990,0.985507,0.042706,1,1,Inception,Yes,NaN,0.0001,1,Adam
2,2,0.996005,0.017637,0.992271,0.021728,1,1,Inception,Yes,NaN,0.0001,1,Adam
3,3,0.996592,0.014166,0.996135,0.019482,1,1,Inception,Yes,NaN,0.0001,1,Adam
4,4,0.995476,0.015364,0.996135,0.014317,1,1,Inception,Yes,NaN,0.0001,1,Adam
...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,12,0.987955,0.047472,0.922705,0.355714,9,9,Inception,No,Â½,0.0010,2,Adam
755,13,0.980317,0.066288,0.975845,0.087388,9,9,Inception,No,Â½,0.0010,2,Adam
756,14,0.981786,0.089636,0.937198,0.345161,9,9,Inception,No,Â½,0.0010,2,Adam
757,15,0.984136,0.058959,0.859903,1.077084,9,9,Inception,No,Â½,0.0010,2,Adam
758,16,0.982080,0.059340,0.966184,0.172907,9,9,Inception,No,Â½,0.0010,2,Adam

In [10]:
final_merge = final_merge.fillna("None")
final_merge = final_merge.drop('Id', axis=1)

final_merge['Learning Rate'] = final_merge['Learning Rate'].astype('string')

In [11]:
final_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759 entries, 0 to 758
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   epoch          759 non-null    int64
 1   accuracy       759 non-null    float64
 2   loss           759 non-null    float64
 3   val_accuracy   759 non-null    float64
 4   val_loss       759 non-null    float64
 5   source         759 non-null    int64
 6   Model          759 non-null    object
 7   Augmentasi     759 non-null    object
 8   Freeze         759 non-null    object
 9   Learning Rate  759 non-null    string
 10  Layer          759 non-null    int64
 11  Optimizer      759 non-null    object
dtypes: float64(4), int64(3), object(4), string(1)
memory usage: 71.3+ KB

In [12]:
final_merge

,epoch,accuracy,loss,val_accuracy,val_loss,source,Model,Augmentasi,Freeze,Learning Rate,Layer,Optimizer
0,0,0.903055,0.344352,0.990338,0.039056,1,Inception,Yes,None,0.0001,1,Adam
1,1,0.994066,0.020990,0.985507,0.042706,1,Inception,Yes,None,0.0001,1,Adam
2,2,0.996005,0.017637,0.992271,0.021728,1,Inception,Yes,None,0.0001,1,Adam
3,3,0.996592,0.014166,0.996135,0.019482,1,Inception,Yes,None,0.0001,1,Adam
4,4,0.995476,0.015364,0.996135,0.014317,1,Inception,Yes,None,0.0001,1,Adam
...,...,...,...,...,...,...,...,...,...,...,...,...
754,12,0.987955,0.047472,0.922705,0.355714,9,Inception,No,Â½,0.001,2,Adam
755,13,0.980317,0.066288,0.975845,0.087388,9,Inception,No,Â½,0.001,2,Adam
756,14,0.981786,0.089636,0.937198,0.345161,9,Inception,No,Â½,0.001,2,Adam
757,15,0.984136,0.058959,0.859903,1.077084,9,Inception,No,Â½,0.001,2,Adam
758,16,0.982080,0.059340,0.966184,0.172907,9,Inception,No,Â½,0.001,2,Adam

In [13]:
final_merge.to_csv('top_10_merged.csv', index=False)

In [14]:
import dtale

d = dtale.show(final_merge)
d._main_url

'http://SESAR:40000/dtale/main/1'